{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header-actions">
        <a href="{{ url_for('zaprimanje.scan_sscc') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <h1>SSCC Pregled</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                   
                    <th>Delivery Note</th>
                    <th>SSCC</th>
                    <th>Document MSI</th>
                   
                    <th>Item Code</th>
                   
                    <th>UOM</th>
                    <th>Quantity</th>
                    <th>Received Qty</th>
                    
                   
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                   
                    <td>{{ item.delivery_note }}</td>
                    <td>{{ item.sscc }}</td>
                    <td>{{ item.document_msi }}</td>
                   
                    <td>{{ item.item_code }}</td>
                   
                    <td>{{ item.uom }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.received_qty }}</td>
                  
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
